backcall==0.1.0
coverage==4.5.3
decorator==4.4.0
filelock==3.0.12
importlib-metadata==0.18
ipdb==0.12
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.13.3
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.12.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
Pygments==2.4.2
six==1.12.0
toml==0.10.0
tox==3.12.1
traitlets==4.3.2
virtualenv==16.6.0
wcwidth==0.1.7
zipp==0.5.1
